*{
    margin: 0;
    padding: 0;
}

$color-ppal:#572EE5;
$color-sec:#50E3C2 ;
$fte-ppal: 'Montserrat', sans-serif;
$fte-sec:'Roboto', sans-serif;


@import "_partials/header";

@import "_partials/seccion1";

@import "_partials/seccion2";

@import "_partials/footer";
